<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="radio.css", trailing_slash=false) }}">

      {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
      {% endif %}


      <!-- CSS & JS for Katex math formatting. -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.css" integrity="sha384-bsHo4/LA+lkZv61JspMDQB9QP1TtO4IgOf2yYS+J6VdAYLVyx1c3XKcsHh0Vy8Ws" crossorigin="anonymous">
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.js" integrity="sha384-4z8mjH4yIpuK9dIQGR1JwbrfYsStrNK6MP+2Enhue4eyo0XlBDXOIPc8b6ZU0ajz" crossorigin="anonymous"></script>
      <!-- Automatically render Katex onload. -->
      <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>



      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body>
        {% block sidebar %}
            <nav>
                <ul>
                    {% block nav_links %}
                        {% for link in config.extra.radio_nav_links %}
                            <li><a href="{{link.url}}">{{link.name}}</a></li>
                        {% endfor %}
                    {% endblock nav_links %}
                </ul>
                {% block nav_about %}
                <div class="nav-about">
                    {% if config.extra.radio_logo != "" %}<img src="{{ config.extra.radio_logo }}" class="logo-img"/>{% endif %}
                    {% if config.description != "" %}<p>{{ config.description | safe }}</p>{% endif %}
                </div>
                {% endblock nav_about %}
            </nav>
        {% endblock sidebar %}

        <div id="main">
            <div id="menu-bar">
                <div class="buttons">
                    <button id="nav-toggle" class="menu-button " type="button" title="Toggle Menu" aria-label="Toggle Table of Contents" aria-controls="sidebar"> ☰ </button>
                </div>
                <h1>{{ config.title }}</h1> 
                <div class="buttons">
                    <button id="search-toggle" class="menu-button" type="button" title="Search not yet enabled." aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar"> … </button>
                </div>
            </div>
            
            <div id="content">
                <!-- idea: move search to menu bar -->
                <!--<div id="search-wrapper" class="hidden">
                    <form id="searchbar-outer" class="searchbar-outer">
                        <input type="search" name="search" id="searchbar" name="searchbar" placeholder="Search this book ..." aria-controls="searchresults-outer" aria-describedby="searchresults-header">
                    </form>
                    <div id="searchresults-outer" class="searchresults-outer hidden">
                        <div id="searchresults-header" class="searchresults-header"></div>
                        <ul id="searchresults">
                        </ul>
                    </div>
                </div>-->
            
            {% block content %}
            <h1>{{ section.title }}</h1>
            {{ section.content | safe }}
            
            {% if config.extra.radio_index_splash != "" %}<img src="{{ config.extra.radio_index_splash }}"/>{% endif %}            
            
            
            <h1>Recent Updates:</h1>
                {% set_global all_pages = [] -%}
                {% set_global all_sections = [] -%}
                
                {% for p in section.subsections -%}
                    {% set sub = get_section(path=p) -%}
                    {% set_global all_pages = all_pages | concat(with=sub.pages) -%}
                    {% set_global all_sections = all_sections | concat(with=sub.subsections) -%}
                {% endfor %}
                
                {% for p in all_sections -%}
                    {% set sub = get_section(path=p) -%}
                    {% set_global all_pages = all_pages | concat(with=sub.pages) %}
                {% endfor %}
                
                {% for page in all_pages | sort(attribute="date") | reverse -%}
                  <div class="post">
                    <h2 class="post-title">
                      <a href="{{ page.permalink }}">
                        {{ page.title }}
                      </a>
                    </h1>
                    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
                  </div>
                {% endfor %}
            {% endblock content %}
            </div>
        </div>
       
      <!-- JS, loaded after document -->
      <script src="/scripts/nav.js" type="text/javascript" charset="utf-8"></script>
      {% block scripts -%}
        <!-- Overwrite this block in a child template to load extra scripts. -->
      {% endblock -%}
    </body>
</html>
