{% extends "index.html" %}

{% block content %}
<div class="section">
    <div class="splash">
        <h1 class="section">{{ section.title }}</h1>
    </div>
    {{ section.content | safe }}
    
    {% for page in section.pages | sort(attribute="date") | reverse %}
        <div class="splash">
            <h3 class="page"><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
            <span class="page">{{ page.description }}</span>
        </div>
    {% endfor %}
</div>


{% set len = section.subsections | length -%}
{% if len > 0 -%}
    {% for col in range(end=config.extra.section_col) -%}
        {% set matched_i = range(end=len, start=col, step_by=config.extra.section_col) -%}
        <div class="column">
        {% for p in section.subsections -%}
            {% if loop.index0 in matched_i -%}
                {% set sub = get_section(path=p, metadata_only=true) -%}
                <a href="{{ sub.permalink }}">
                    <div class="sub section">
                        <h2>{{ sub.title }}</h2>
                        <span>{{ sub.description }}</span>
                    </div>
                </a>
            {% endif -%}
        {% endfor %}
        </div>
    {% endfor -%}
{% endif -%}
{% endblock content %}

{% block scripts -%}
<script src="/scripts/splash.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}