{% extends "index.html" %}

{% block content %}
<div class="section">
    <div class="splash">
        <h1 class="section">{{ section.title }}</h1>
    </div>
    {{ section.content | safe }}
    
    {% for page in section.pages | sort(attribute="date") | reverse %}
        <div class="splash">
            <h3 class="page"><a href="{{ page.permalink }}">{{ page.title }}</a></h3>
            <span class="page">{{ page.description }}</span>
        </div>
    {% endfor %}
</div>


{% set length = section.subsections | length -%}
{% for col in range(end=config.extra.section_col) -%}
    Len: {{ length }}; Col: {{ col }};
    {% set matched_i = range(end=length, start=col, step_by=config.extra.section_col) -%}
    {% for p in section.subsections -%}
        {% if loop.index in matched_i %}
            {% set sub = get_section(path=p, metadata_only=true) -%}
            <div class="sub section">
            <div class="splash">
                <h2 class="section"><a href="{{ sub.permalink }}">{{ sub.title }}</a></h2>
                <span class="section">{{ sub.description }}</span>
            </div>
            </div>
        {% endif -%}
    {% endfor %} 
{% endfor -%}
{% endblock content %}

