{% extends "index.html" %}

{% block content %}
<div class="section">
    <h1>{{ section.title }}</h1>
    <div>{{ section.content | safe }}</div>

    {% set pageLen = section.pages | length -%}
    
    {% set endCol = config.extra.radio_page_col -%}
    {% if endCol > pageLen -%}
        {% set endCol = pageLen -%}
    {% endif %}
    
    {% set page_col = config.extra.radio_page_col -%}
    {% set colClass = "column" -%}
    {% if page_col == 2 %}
        {% set colClass = "half column" -%}
    {% elif page_col == 3 %}
        {% set colClass = "third column" -%}
    {% else %}
        {% set colClass = "fourth column" -%}
    {% endif %}
    
    {% for col in range(end=endCol) -%}
        {% set matched_i = range(end=pageLen, start=col, step_by=page_col) -%}
        <div class="{{ colClass }}">
        {% for page in section.pages -%}
            {% if loop.index0 in matched_i -%}
                <a href="{{ page.permalink }}">
                    <div class="sub page">
                        <h3>{{ page.title }}</h3>
                        <span>{{ page.description }}</span>
                    </div>
                </a>
            {% endif -%}
        {% endfor %}
        </div>
    {% endfor -%}
</div>
{% endblock content %}

{% block scripts -%}
<script src="/scripts/splash.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}